*{
    margin: 0;
    padding: 0;
}
.donation-container {
    margin-top: 5rem;
    margin-left: 8rem;
}

.donation-container-h1 {
    font-size: 3rem;
}

.donation-container-button {
    margin-top: 2rem;
    border-radius: 8px;
    border: none;
    padding: 10px 25px;
    background-color: #FF0000;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    font-family: 'Poppins';
}

.pop-up-container {
    width: 50%;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 10px;
}

.pop-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pop-up-form__input {
    width: 100%;
    margin: .5rem 0;
    padding: 1rem;
}