*{
    margin: 0;
    padding: 0;
}
.donation-container {
    margin-top: 5rem;
    margin-left: 8rem;
}

.donation-container-h1 {
    font-size: 3rem;
}

.donation-container-button {
    margin-top: 2rem;
    border-radius: 8px;
    border: none;
    padding: 10px 25px;
    background-color: #FF0000;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    font-family: 'Poppins';
}