.container-dashboard {
    display: flex;
  }
  .container-cards {
    width: 100vw;
  }
  .card {
    background-color: white;
    height: 200px;
    width: 18%;
    margin: 1em 0em 2em 4em;
    float: left;
    justify-content: center;
    text-align: center;
    box-shadow: 1px 15px 5px rgb(20, 19, 19, 0.6);
    border:1px solid rgb(20, 20, 20, 0.1);
  }
  .name-card {
    background-color: white;
  }
  .image-card {
    background-color: white;
    height: 100px;
  }
  .btn-card {
    background-color: white;
  }
  .img-card-dashboard {
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius:100%;
    border:1px solid white;
    background-size: cover;
  }
  .img-card-dashboard-news {
    background-image: url('./news.png');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    object-fit: cover;
  }
  .img-card-dashboard-activities {
    background-image: url('./checklist-activities.png');
  }
  .img-card-dashboard-categories {
    background-image: url('./categories.png');
  }
  .img-card-dashboard-testimonials {
    background-image: url('./testimonials.png');
  }
  .img-card-dashboard-organization {
    background-image: url('./organization.png');
  }
  .img-card-dashboard-slides {
    background-image: url('./slides.png');
  }
  .img-card-dashboard-users {
    background-image: url('./user-image.png');
  }
  .img-card-dashboard-members {
    background-image: url('./members-image.png');
  }
  .name-card > p {
    text-transform: capitalize;
    color: cornflowerblue;
    font-weight: bold;
    text-align: center;
  }
  .btn-screendashboard {
    margin: 10px;
    height: 3em;
    width: 4em;
    background-color: green;
    border-radius: 5px;
    border: 1px solid green;
    color: white;
    text-transform: capitalize;
  }
  .btn-screendashboard:hover {
    cursor: pointer;
    background-color: white;
    color: green;
    font-weight: bold;
  }
  @media (max-width: 1224px){
    .card {
      width: 20%;
      margin: 1em;
      float: left;
    }
  }
  @media (max-width: 768px) {
    .card {
      width: 40%;
      margin: 1em;
      float: left;
    }
  }
  @media (max-width: 480px) {
    .card {
      width: 80%;
      margin: 1em 1em 1em 2em;
      float: left;
    }
  }