@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.contact__contribute-btn {
  padding: 10px 20px;
  background-color: #FF0000;
  border-radius: 15px;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: background-color 250ms ease-out;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px;
}

.contact__link {
  text-decoration: none;
  color: white;
  
}