.testimonial-form-container {
  background-color: var(--secondary-color-backoffice);
  height: calc(100vh - 77px) ;
  display: flex;
  justify-content: center;
}

.testimonial-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items:stretch;
}

.testimonial-form__title{
  font-size: 2.8rem;
  color: aliceblue;
  padding: 2rem;
}

.testimonial-form__input-field {
  padding: 15px 30px;
  margin: 1rem;
  border: 1px solid #c1c1c1;
  background-color: aliceblue;
}